$backgroundColor: #5a1b1b;
$cardColor: #ffffff;
$textColor: #000000;
$boxShadowColor: rgba(48, 11, 11, 0.829);

.nav-bar {
  border-bottom: $boxShadowColor;
  background-color: $cardColor;
}

.logout-button {
  float: right;
}
